body {
  height: 100vh;
  background-image: url(../img/Fundo.svg);
  background-position: top center;
  /* BUSCA UMA MANEIRA DE DEIXA A IMG CENTRALIZADA*/
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #121214;
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  line-height: 160%;
}

.perfil{
  margin: auto;
  box-sizing: border-box;
  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
  width: 16.43vh;
  border-radius: 50%;
  display: flex;
  padding: 4px;
  transition: transform .3s;

}


.img__perfil{
  width: 100%;
  border-radius: 50%;
  
}

.img__perfil:hover{
  transform: scale(1.1);
}

.main {
  max-width: 79.45vh;
  width: 98%;
  margin: 3.28vh auto;
  display: grid;
  gap: 3.28vh;
 margin-bottom: 3.28vh;
}

.borda{
  padding-top: 4px;
  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
  border-radius: 10px;
}

.container{
  background:#2A2634;
  padding: 4.38vh 3.28vh 3.28vh;
  border-radius: 8px;
}

.titulo {
  font-weight: 900;
  font-size: 3.28vh;
  letter-spacing: -0.47px;
  /* espaço entre as letras */
}

.p {
  letter-spacing: -0.18px;
  color: #A1A1AA;
}

.flex {
  display: flex;
  gap: 2.19vh;
  flex-wrap: wrap;
  
}

.img__jogos {
  width: 12.32vh;
  height: 16.43vh;
  border-radius: 8px;
  transition: transform .3s;
}

.img__jogos:hover {
  transform: scale(1.1);
}

.img__canais {
  border-radius: 50%;
  width: 9.58vh;
  border: 1px solid #443E54;
  transition: transform .3s;
}

.img__canais:hover{
  transform: scale(1.1);
}

.img__redes{
  width: 32px;
height: 32px;
transition: transform .3s;
}

.img__redes:hover{
  transform: scale(1.1);
}

/* animação */

.perfil{
  animation: doTop .7s 1s backwards;
}

.borda:nth-child(1){
  animation: deBaixo .6s 1s backwards;
}

.borda:nth-child(2){
  animation: deBaixo .4s 1s backwards;
}

.borda:nth-child(3){
  animation: deBaixo .2s 1s backwards;
}

@keyframes doTop {
  from{
    
    transform: translateY(-30px);
  }

  to{
    
    transform: translateY(0);
  }
}

@keyframes deBaixo {
  from{
    transform: translateX(-30px);
  }

  to{
    transform: translateX(0);
  }
}